body{
  margin: 0;
}

.container{
  display: flex;
  flex-flow: row wrap;

}
.child{
  width: 33.33%;
  height: 200px;
  line-height: 200px;
  text-align:center;
  border: 2px solid black;
  box-sizing: border-box;

}
